# R project files to be ignored
*.Rproj.user
*.Rhistory
*.RData
*.Ruserdata
*.rdb
*.rdx
.Rproj.user
packrat/lib*/
packrat/src/

# Ignore data files for HIPAA
*.dat
*.csv
*.SAS7BDAT
*.sas7bdat

# Ignore final reports for public repo
*.docx
*.DOCX
*.xlsx
*.csv
*.pdf

# Ignore images stored
*.png
*.jpeg
*.jpg


